@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
/*Tic-Tac-Toe*/
.gameTTTContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
.gameTTTScreen {
    display: flex;
    flex-wrap: wrap;
    width:300px;
    background-color: rgb(44, 72, 104);
    border-radius: 12px;
}
.cell {
    border: 2px solid rgb(38, 93, 146);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    -webkit-box-shadow:0px 0px 15px 13px rgba(25,115,171,1);
    -moz-box-shadow: 0px 0px 15px 13px rgba(25,115,171,1);
    box-shadow: 0px 0px 15px 13px rgba(25,115,171,1);
    font-family: 'Oswald', sans-serif;
}
.x {
    color: rgb(166, 0, 237);
    text-shadow: 0px 0px 7px rgba(188,0,251,0.95), 
    0px 0px 7px rgba(188,0,251,0.95), 
    0px 0px 7px rgba(188,0,251,0.95), 
    0px 0px 7px rgba(188,0,251,0.95), 
    0px 0px 7px rgba(188,0,251,0.95), 
    0px 0px 7px rgba(188,0,251,0.95);
}
.o {
    color: rgb(0, 255, 247);
    text-shadow: 0px 0px 7px rgba(7,251,239,0.95), 
    0px 0px 7px rgba(7,251,239,0.95), 
    0px 0px 7px rgba(7,251,239,0.95), 
    0px 0px 7px rgba(7,251,239,0.95), 
    0px 0px 7px rgba(7,251,239,0.95),
    0px 0px 7px rgba(7,251,239,0.95);
}
.gameInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 15px;
    width: 60vw;
    background: rgba( 163, 63, 255, 0.7 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-box-shadow:0px 0px 27px 13px rgba(157,0,255,0.9);
    -moz-box-shadow: 0px 0px 27px 13px rgba(157,0,255,0.9);
    box-shadow: 0px 0px 27px 13px rgba(157,0,255,0.9);
    gap: 20px;
}
.gameTurn {
    color: white;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}
#resetButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 120px;
    height: 55px;
    border-radius: 20px;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 800ms;
    backdrop-filter: blur(2px) saturate(133%);
    -webkit-backdrop-filter: blur(2px) saturate(133%);
    background-color: rgba(129, 0, 255, 0.25);
    border: 5px solid white;
    color: white;

}
#resetButton:hover {
    background-color: #490091;
}
/*Snake*/
.gameSContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 75vh;
}
.gameScore {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 13px 15px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(97, 146, 39);
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}
.gameSScreen {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 40vw;
    height: 75vh;
}
.playBoard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr)/ repeat(30, 1fr);
    background-color: yellowgreen;
}
.playBoard .food {
    background-color: red;
}
.playBoard .snakeHead {
    background-color: green;
}
.control {
    display: none;
    gap: 10px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 146, 39);
}
.control i {
    color: white;
    font-size: 2.8rem;
    text-align: center;
    width: calc(100%/ 4);
}
.modalAll {
    border-radius: 25px;
    box-shadow: 0px 21px 40px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 21px 40px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 21px 40px 3px rgba(0,0,0,0.75);
}
.sModalHeader {
    background-color: rgb(111, 158, 18);
    color: white;
    border-radius: 25px 25px 0px 0px;
    font-family: 'Monomaniac One', sans-serif;;
}
.sModalHeader h4 {
    font-size: 2.3rem;
}
.sModalBody {
    background-color: rgb(173, 239, 40);
    color:white;
    width: 100%;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}
.sModalFooter {
    background-color: rgb(111, 158, 18);
    border-radius: 0px 0px 25px 25px;
    
}
.sretryButton {
    transition: all 500ms;
    background-color: rgb(150, 228, 66);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 500ms;
    
}
.sretryButton:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: rgb(132, 208, 61);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}
.sretryButton:active {
    color: green;
}
/*Tetris*/
.gameTContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78vh;
}
.gameTScreen {
    width: 40vw;
}
.gameTInfo {
    display: flex;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 15px;
    background-color: rgb(0, 143, 225);
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}
.Tboard {
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 100%;
    display: flex;  
}
#tetrisBoard {
    height: 65vh;
    aspect-ratio: 2/3;
    min-width: min(100%, 78vh * 2/3);
    background-color: aqua;
}
.Tcontrol {
    display: none;
    gap: 5px;
    border-radius: 0px 0px 20px 20px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 143, 225);
}
.Tcontrol i {
    color: white;
    font-size: 3rem;
    text-align: center;
    width: calc(100%/ 4);
}
.gridBoard {
    background-color: aqua;
    border: 1px solid black;
}
.tModalHeader {
    background-color: rgb(14, 175, 244);
    color: white;
    border-radius: 25px 25px 0px 0px;
    font-family: 'Monomaniac One', sans-serif;
}
.tModalHeader h4 {
    font-size: 2.3rem;
}
.tModalBody {
    width: 100%;
    text-align: center;
    background-color: rgb(85, 221, 255);
    color:white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}
.tModalFooter {
    background-color: rgb(14, 175, 244);
    border-radius: 0px 0px 25px 25px;
    
}
.tretryButton {
    transition: all 500ms;
    background-color: rgb(0, 208, 255);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 500ms;
    
}
.tretryButton:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: rgb(83, 244, 255);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}
.tretryButton:active {
    color: rgb(0, 229, 210);
    font-family: 'Bebas Neue', sans-serif;
}
.startButton {
    position: fixed;
    font-size: 3.5rem;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(0, 143, 225);
    transition: all 500ms;
}
.startButton:hover {
    background-color: rgb(41, 25, 255);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    color: white;
}
.startButton:active {
    background-color: blue;
}
@media only screen and (max-width: 768px) {
    /*TicTacToe*/
    .gameInfo {
        justify-content: center;
        align-items: center;
    }
    /*Snake*/
    .gameSScreen {
        width: 80vw;
    }
    .control {
        display: grid;
    }
    /*Tetris*/
    .gameTContainer {
        height: 69vh;
    }
    .gameTScreen {
        width: 80vw;
    }
    .Tboard {
        height: 50vh;
        
    }
    #tetrisBoard {
        height: 50vh;
    }
    .Tcontrol {
        display: grid;
    }
}
